.git
.gitignore
node_modules
.next
db/
*.db
*.db-journal
.env
.env.*
!.env.example
dev.log
server.log
.zscripts/
download/
examples/
upload/
mini-services/
docker-compose.yml
.dockerignore
*.md
!README.md
.vscode
.idea
*.tar
